
<head>
	
</head>

<div id="Receta">
	<h1>LISTA DE MERCADO PARA LA LASAGNA</h1>
	<p>Comprar los ingredientes frescos</p>

<div id="Ingredientes"	
	<ul>
		<li>tomates</li>
		<li>mozarella</li> 
		<li>albahaca</li>
		<li>Pasta para lasagna</li>
		<li>Nuez Moscada</li>
		<li>Sal</li>
		<li>Carne Molida</li>
		<li>Aceita de Oliva</li>
		<li>Vino Rojo de Cocina</li>
		<li>Ajo</li>
	</ul>
	
</div>
</div>